html, body{
  background: #fff;
  padding: 3px;
}
#cantabria{
  text-align: center;
 background-image: url(estela.jpg); 
 background-position : right; 
 background-repeat : repeat; 
}
html, body, #map-canvas {
  background: #fff;
  height: 100%;
  margin: 10px;
  padding: 0px;
}
.row{
  background: #FE4E34;
  padding: 10px;
  margin:10px;
}
#panel {
  background: #fff;
  text-align: center;
  top: 2px;
  left: 50%;
  padding: 5px;
}
#locat {  position: left;
  width: 25%;
  top: 5px;
}